<f:if condition="{processedRow.tx_wsbootstrapcomponents_jumbotrontext}">
    <p><strong><f:translate key="LLL:EXT:ws_bootstrapcomponents/Resources/Private/Language/locallang_db.xlf:tt_content.tx_wsbootstrapcomponents_jumbotrontext" /></strong><br>
        {processedRow.tx_wsbootstrapcomponents_jumbotrontext}</p>
</f:if>
<f:if condition="{processedRow.tx_wsbootstrapcomponents_jumbotrontexttwo}">
    <p></p><strong><f:translate key="LLL:EXT:ws_bootstrapcomponents/Resources/Private/Language/locallang_db.xlf:tt_content.tx_wsbootstrapcomponents_jumbotrontexttwo" /></strong><br>
    {processedRow.tx_wsbootstrapcomponents_jumbotrontexttwo}</p>
</f:if>
<f:if condition="{processedRow.tx_wsbootstrapcomponents_jumbotronlink}">
    <p><strong><f:translate key="LLL:EXT:ws_bootstrapcomponents/Resources/Private/Language/locallang_db.xlf:tt_content.tx_wsbootstrapcomponents_jumbotronlink" /></strong><br>
        {processedRow.tx_wsbootstrapcomponents_jumbotronlink}</p>
</f:if>
<f:if condition="{processedRow.tx_wsbootstrapcomponents_jumbotronlinktext}">
    <p><strong><f:translate key="LLL:EXT:ws_bootstrapcomponents/Resources/Private/Language/locallang_db.xlf:tt_content.tx_wsbootstrapcomponents_jumbotronlinktext" /></strong><br>
        {processedRow.tx_wsbootstrapcomponents_jumbotronlinktext}</p>
</f:if>
<f:if condition="{processedRow.tx_wsbootstrapcomponents_jumbotronfull}">
    <p><strong><f:translate key="LLL:EXT:ws_bootstrapcomponents/Resources/Private/Language/locallang_db.xlf:tt_content.tx_wsbootstrapcomponents_jumbotronfull" /></strong><br>
        {processedRow.tx_wsbootstrapcomponents_jumbotronfull}</p>
</f:if>
